body {
    background-image:  linear-gradient(to right, #5DFDCB , #00281C , #5DFDCB);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #FFC9B5;
    text-align: justify;
}

#profilePhoto img {
    width: 160px;
    float: right;
    margin-bottom: 10%;
    margin-right: 40px;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 15px;
    color: #FFC9B5;
}

#container {
    width: 90%;
    max-width: 1000px;
    background: #2E3837;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px 40px 20px 40px;
}

section {
    border-top: 4px groove #5DFDCB;
    padding: 15px 0 20px 0;
}

h1 {
    font-size: 30px;
    color: #5DFDCB;
    margin: 5px auto;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #8789C0;
    margin-left: 10px;
}

h3 {
    font-size: 1.5em;
    color: #FF8D70;
    font-style: italic;
}
a {
    color:#8789C0;
}